<!DOCTYPE html>
<html>
<head>
    <title>Data for Last 2 Weeks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="center-object">
        <h1>About this project</h1> <br>
    </div>
    <div class="center-object">
        This is a first semester project at Aalborg University about SuDS, on this site you can see the data from our prototype
    </div>

</body>
</html>