<!DOCTYPE html>
<html>

<head>
    <title>Graphs for Last 2 Weeks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        async function fetchData() {
            const response = await fetch('/view_graph_data');
            const data = await response.json();
            
            const currentDate = new Date();
            const labels = data.dates.map(date => {
                const d = new Date(date);
                const diffTime = Math.abs(currentDate - d);
                const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
                return `${diffDays} days ago`;
            });

            const temp1Data = {
                labels: labels,
                datasets: [{
                    label: 'Temeratur i sandfangeren',
                    data: data.temp1,
                    borderColor: 'rgba(255, 99, 132, 1)',
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    fill: true,
                    tension: 0.4
                }]
            };
            const dist1Data = {
                labels: labels,
                datasets: [{
                    label: 'Distance 1',
                    data: data.dist1,
                    borderColor: 'rgba(75, 492, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    fill: true,
                    tension: 0.4
                }]
            };

            const dist2Data = {
                labels: labels,
                datasets: [{
                    label: 'Distance 2',
                    data: data.dist2,
                    borderColor: 'rgba(153, 102, 255, 1)',
                    backgroundColor: 'rgba(153, 102, 255, 0.2)',
                    fill: true,
                    tension: 0.4
                }]
            };

            new Chart(document.getElementById('temp1Chart'), {
                type: 'line',
                data: temp1Data,
                options: {
                    scales: {
                        x: {
                            type: 'category',
                            grid: {
                                display: false
                            },
                            ticks: {
                                autoSkip: false,
                                callback: function(value, index, values) {
                                    const date = new Date(data.dates[index]);
                                    return index === 0 || date.getDate() !== new Date(data.dates[index - 1]).getDate() ? date.toLocaleDateString() : '';
                                }
                            }
                        },
                        y: {
                            grid: {
                                display: true
                            }
                        }
                    }
                }
            });


            new Chart(document.getElementById('dist1Chart'), {
                type: 'line',
                data: dist1Data,
                options: {
                    scales: {
                        x: {
                            type: 'category',
                            grid: {
                                display: false
                            },
                            ticks: {
                                autoSkip: false,
                                callback: function(value, index, values) {
                                    const date = new Date(data.dates[index]);
                                    return index === 0 || date.getDate() !== new Date(data.dates[index - 1]).getDate() ? date.toLocaleDateString() : '';
                                }
                            }
                        },
                        y: {
                            grid: {
                                display: true
                            }
                        }
                    }
                }
            });

            new Chart(document.getElementById('dist2Chart'), {
                type: 'line',
                data: dist2Data,
                options: {
                    scales: {
                        x: {
                            type: 'category',
                            grid: {
                                display: false
                            },
                            ticks: {
                                autoSkip: false,
                                callback: function(value, index, values) {
                                    const date = new Date(data.dates[index]);
                                    return index === 0 || date.getDate() !== new Date(data.dates[index - 1]).getDate() ? date.toLocaleDateString() : '';
                                }
                            }
                        },
                        y: {
                            grid: {
                                display: true
                            }
                        }
                    }
                }
            });
        }

        window.onload = fetchData;
    </script>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="image-grid">
        <div class="box">
            <canvas id="temp1Chart"></canvas>
        </div>
        <div class="box">
            <canvas id="dist1Chart"></canvas>
        </div>
        <div class="box">
            <canvas id="dist2Chart"></canvas>
        </div>
    </div>
    {% include 'footer.html' %}
</body>

</html>